.music-monaco-editor-opened-tab {
    height: 35px;
    box-sizing: border-box;
    font-size: 14px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    /* 滚动槽 */
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: var(--list-background);
        -webkit-box-shadow: inset 0 0 5px var(--scrollbar-shadow);
    }
    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: var(--scrollbarSlider-background);
        -webkit-box-shadow: inset 0 0 5px var(--scrollbar-shadow);

        //TODO: 增加滚动条hover态展示
    }

    &-item {
        cursor: pointer;
        height: 35px;
        box-sizing: border-box;
        padding: 0 10px;
        // min-width: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 1px;
        background-color: var(--list-background);

        &-focused {
            background-color: var(--list-focusBackground);
            color: var(--list-focusForeground);
        }

        &:hover {
            background-color: var(--list-hoverBackground);
            color: var(--list-hoverForeground);
        }

        &-close {
            padding: 5px 10px;
        }
    }
}