.music-monaco-editor-opened-tab {
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    background-color: #000;

    /* 滚动槽 */
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: var(--list-background);
    }
    &::-webkit-scrollbar-track {
        background: var(--list-background);
        -webkit-box-shadow: inset 0 0 5px var(--scrollbar-shadow);
    }
    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: var(--scrollbarSlider-background);
        -webkit-box-shadow: inset 0 0 5px var(--scrollbar-shadow);

        //TODO: 增加滚动条hover态展示
    }

    &-item {
        box-sizing: border-box;
        padding: 0 10px;
        min-width: 100px;
        display: inline-block;
        margin-right: 1px;
        background-color: var(--list-background);

        &:hover {
            background-color: var(--list-hoverBackground);
            color: var(--list-hoverForeground);
        }
    }
}