.music-monaco-editor-colors {
    width: 100%;
    height: 100%;

    --list-background: #232830;
    --list-foreground: #cccccc;
    --list-activeSelectionBackground: #2c313a;
    --list-activeSelectionForeground: #d7dae0;
    --list-focusBackground: #323842;
    --list-focusForeground: #f0f0f0;
    --list-highlightForeground: #c5c5c5;
    --list-hoverBackground: #2c313a;
    --list-hoverForeground: #ffffff;
    --list-inactiveSelectionBackground: #323842;
    --list-inactiveSelectionForeground: #d7dae0;
    --list-warningForeground: #d19a66;

    --editor-background: #282c34;

    --scrollbar-shadow: #23252c;
    --scrollbarSlider-activeBackground: #747d9180;
    --scrollbarSlider-background: #4e566660;
    --scrollbarSlider-hoverBackground: #5a637580;

    //"list.deemphasizedForeground": "#8c8c8c",
    //"list.errorForeground": "#f88070",
    //"list.focusHighlightForeground": "#18a3ff",
    --list-focusOutline: #007fd4;
    //"list.highlightForeground": "#18a3ff",
}
.music-monaco-editor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    &-drag {
        width: 5px;
        background: var(--list-background);
        height: 100%;
        cursor: col-resize;

        &:hover {
            background: var(--list-focusOutline);
        }
    }

    &-area {
        overflow: hidden;
        color: var(--list-foreground);
        background-color: var(--list-background);
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;

        &-empty {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: var(--editor-background);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-icon {
                width: 100px;
                height: 100px;
                margin-bottom: 20px;
            }
        }
    }
}

.music-monaco-editor-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--editor-background);
    
    &-icon {
        width: 60px;
        height: 60px;
    }
}

